In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('whitegrid')
import warnings

In [13]:
energy_data = pd.read_csv('energydata_complete.csv')

In [14]:
energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
energy_data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [16]:
energy_data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [17]:
energy_data.mean()

C:\Users\User\AppData\Local\Temp/ipykernel_7956/3542563472.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  energy_data.mean()

Appliances      97.694958
lights           3.801875
T1              21.686571
RH_1            40.259739
T2              20.341219
RH_2            40.420420
T3              22.267611
RH_3            39.242500
T4              20.855335
RH_4            39.026904
T5              19.592106
RH_5            50.949283
T6               7.910939
RH_6            54.609083
T7              20.267106
RH_7            35.388200
T8              22.029107
RH_8            42.936165
T9              19.485828
RH_9            41.552401
T_out            7.411665
Press_mm_hg    755.522602
RH_out          79.750418
Windspeed        4.039752
Visibility      38.330834
Tdewpoint        3.760707
rv1             24.988033
rv2             24.988033
dtype: float64

In [18]:
energy_data.shape

(19735, 29)

In [20]:
energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [21]:
#From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) 
#and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(energy_data[['T2']], energy_data['T6'],test_size=0.3, random_state=1)

In [27]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [28]:
linear_model.fit(x_train, y_train)

LinearRegression()

In [29]:
prediction = linear_model.predict(x_test)

In [31]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
round(r2_score(y_test, prediction),2)

0.65

In [32]:
round(mean_absolute_error(y_test, prediction),3)

2.817

In [46]:
#Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. 
#The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). 
#Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions
#:What is the Mean Absolute Error (in two decimal places)?
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
energy_data1 = energy_data.drop(columns=['date','lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(energy_data1), columns=energy_data1.columns)
X = normalised_df.drop(columns=['Appliances'])
y = normalised_df['Appliances']

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

In [49]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [50]:
#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [51]:
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [52]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
print('The Mean Absolute Error (MAE)  is: ',round(mae, 3)) # to 2 decimal place

The Mean Absolute Error (MAE)  is:  0.05

In [66]:
#What is the Residual Sum of Squares (in two decimal places)?

#Residual Sum of Squares (RSS)
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [61]:
#What is the Root Mean Squared Error (in three decimal places)?
#Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [67]:
#What is the Coefficient of Determination (in two decimal places)?
#R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [65]:
#Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')


linear_model_weights.sort_values(by='Linear_Model_Weight', ascending=False)

       Features  Linear_Model_Weight
25         RH_1             0.553547
24           T3             0.290627
23           T6             0.236425
22    Tdewpoint             0.117758
21           T8             0.101995
20         RH_3             0.096048
19         RH_6             0.038049
18    Windspeed             0.029183
17           T4             0.028981
16         RH_4             0.026386
15         RH_5             0.016006
14   Visibility             0.012307
13           T7             0.010319
12  Press_mm_hg             0.006839
11          rv1             0.000770
10          rv2             0.000770
9            T1            -0.003281
8            T5            -0.015657
7          RH_9            -0.039800
6          RH_7            -0.044614
5        RH_out            -0.077671
4          RH_8            -0.157595
3            T9            -0.189941
2            T2            -0.236178
1         T_out            -0.321860
0          RH_2            -0.456698

In [ ]:
#What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)